html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
  height: 100%;
}

main {
  height: 80%;
}

h1,
h2 {
  color: white;
  margin: 0;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 38px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
